extends ./base.jade
block append style
  link(rel="stylesheet", type="text/css", href="/assets/style.css")
block body
  nav
    .navlink
      a(href="/login") Login
    .navlink
      a(href="/signup") Sign up
  section#login
    form#loginForm(class="mainForm", name="loginForm", action="/login", method="POST")
      label(for="username") Username:
      input#user(type="text", name="username", placeholder="username")
      label(for="pass") Password:
      input#pass(type="password", name="pass", placeholder="password")
      a#loginSubmit(class="formSubmit", href="#") Sign in
  #todoMessage
    h3
<<<<<<< HEAD
      span#errorMessage
=======
      span#errorMessage Wrong username or password
>>>>>>> ca82aeed052d303680bd3ea736be9d1afeefe536
block scripts
  script(src="/assets/client.js")